@use "./mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=block");

:root {
  --border-color: #aaa;
  --border-color-hover: #eee;
  --text-color: #eee;
  --background-color: #222;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--background-color);
  color: var(--text-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  padding: 0;
  margin: 0;
}

button {
  @include mixins.border;

  background-color: transparent;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.3rem 0.5rem;

  .icon {
    padding: 0;
    margin: 0;
    font-size: 1rem;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:has(.icon:first-child) {
    padding-left: 0.2rem;
  }
}

input {
  @include mixins.border;

  background-color: transparent;
  color: var(--text-color);
  padding: 0.25rem;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

input[type="file"] {
  cursor: pointer;
}

#root {
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .controls {
    display: flex;
    flex-direction: row;
    align-items: centers;
    gap: 0.5rem;

    input[type="number"] {
      width: 5rem;
    }

    input[type="range"] {
      width: 10rem;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}
